<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>-->
    <!--   Permet aux applications de se connecter à des dispositifs bluetooth appariés. <-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--   Permet aux applications de découvrir et de coupler des dispositifs bluetooth. <-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--   Permet à une application d'accéder à un emplacement précis.   <-->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!--   Exigé de pouvoir faire de la publicité sur les appareils Bluetooth à proximité. <-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <!--   Obligatoire de pouvoir se connecter à des dispositifs Bluetooth appariés. <-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <!--   Permet à une application d'accéder à un emplacement approximatif.  <-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--   Permet à une application d'accéder à un emplacement précis.   <-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--   Permet aux applications d'accéder à des informations sur les réseaux.   <-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--   Permet l'accès au vibreur.    <-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MasterAdaptaterBleutooth"
        tools:targetApi="31">
        <activity
            android:name=".core.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MasterAdaptaterBleutooth">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>